<html>
    <head>
        <title>God is great</title>
    </head>
    
<body>
   <h1>Students data</h1> 
    <table border=1>
        <thead>
            <td>Name</td>
            <td>Address</td>
            <td>Phone no.</td>
        </thead>
        {% for row in row_data %}
        <tr>
            <td>{{row['nm']}}</td>
            <td>{{row['addr']}}</td>
            <td>{{row['ph']}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">go back to your home</a>
</body>
</html>